---
layout: base.njk
---
{% import "macros/_insert.njk" as insert %}



<div class="section">




  <div class="container-5 text-center ptr-120 pbr-120">
    <div class="row inview">
      <div class="col-xs-12">
        <div class="fluid-5-b mb-64"> {% call insert.splitenpalabras('Este **Ebook es para ti si... ') %} {% endcall %}
        </div>


      </div>
      <div class="col-xs-12 col-sm-4 mb-24 flex-column is-flex align-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><title>cart</title><g stroke-width="1" fill="#212121" stroke="#212121"><polyline fill="none" stroke="#212121" stroke-miterlimit="10" points="2,2 7,8 7,26 4,33 46,33 " stroke-linejoin="miter" stroke-linecap="butt"></polyline> <polyline fill="none" stroke="#212121" stroke-miterlimit="10" points="7,8 42,8 36,26 7,26 " stroke-linejoin="miter" stroke-linecap="butt"></polyline> <circle fill="none" stroke-linecap="square" stroke-miterlimit="10" cx="8" cy="42" r="4" stroke-linejoin="miter"></circle> <circle fill="none" stroke-linecap="square" stroke-miterlimit="10" cx="40" cy="42" r="4" stroke-linejoin="miter"></circle></g></svg>
        
        <div class="pt-24">
          Tienes una tienda online que pierde visitas y apenas vende, pero buscas soluciones que
          impacten en la facturación de tu negocio.
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 mb-24"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><title>window-paragraph</title><g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1" transform="translate(0.5 0.5)" fill="none" stroke="#212121" stroke-miterlimit="10"><rect x="8" y="24" width="12" height="12" stroke="#212121"></rect> <line x1="26" y1="24" x2="40" y2="24" stroke="#212121"></line> <line x1="26" y1="30" x2="40" y2="30" stroke="#212121"></line> <line x1="26" y1="36" x2="32" y2="36" stroke="#212121"></line> <line x1="8" y1="10" x2="10" y2="10" stroke="#212121"></line> <line x1="16" y1="10" x2="18" y2="10" stroke="#212121"></line> <line x1="32" y1="10" x2="40" y2="10" stroke="#212121"></line> <line x1="2" y1="16" x2="46" y2="16"></line> <rect x="2" y="4" width="44" height="40"></rect></g></svg>
        
        <div class="pt-24">
          Eres emprendedor/a online y quieres saber cómo el SEO transforma un e-commerce en un
          negocio en crecimiento constante.
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 mb-24"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><title>hide</title><g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1" transform="translate(0.5 0.5)" fill="none" stroke="#212121" stroke-miterlimit="10"><path d="M39.738,16a41.745,41.745,0,0,1,5.868,6.733,2.217,2.217,0,0,1-.005,2.53C43.063,28.876,34.974,39,24.008,39A18.9,18.9,0,0,1,18,38"></path><path d="M12.62,35.38A38.793,38.793,0,0,1,2.4,25.255,2.217,2.217,0,0,1,2.4,22.74C4.884,19.13,12.855,9,24.008,9a21.012,21.012,0,0,1,11.378,3.613" stroke-linecap="butt"></path><path d="M32.785,22A9.007,9.007,0,0,1,22,32.775" stroke="#212121"></path><line x1="4" y1="44" x2="44" y2="4" stroke="#212121"></line><path d="M17.64,30.36A9,9,0,0,1,30.368,17.632" stroke-linecap="butt" stroke="#212121"></path></g></svg>
<p class="pt-24">
          
          Tu e-commerce ha perdido visibilidad en Google y necesitas mejorar tu presencia digital
          para que tus clientes te encuentren.
        </p>
      </div>
    </div>
  </div>


  <div class="bg-light ptr-120 pbr-120">
    <div class="container-2 inview ">
      <div class="row">
        <div class="col-xs-12">
          <div class="fluid-5-b mb-40"> {% call insert.splitenpalabras('**¿Qué **encontrarás en este Ebook? ') %} {%
            endcall %}
          </div>
          <ul class="bullet p1">
            <li class="pb-24"> Los<b> 3 problemas que frenaron el crecimiento</b> online del cliente y las soluciones que
              marcaron su impulso definitivo.
            </li>
            <li class="pb-24"> El <b>plan de acción detallado</b> que hizo posible que el proyecto lograra un aumento de ventas
              del 129% durante su primer año de estrategia SEO.
            </li>
            <li class="pb-24">La relevancia del <b>trabajo del profesional SEO para identificar oportunidades</b> y potenciarlas
              generando más ventas e ingresos.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>




  <div class="container-3 ptr-120 pbr-120 inview">
    <div class="row text-center mb-24">




      <div class="col-xs-12">
        <h3 class="fluid-5-b mb-32">
          {% call insert.splitenpalabras('Así es cómo una estrategia -- **SEO **Profesional **multiplica las ventas de un e-commerce. ') %} {% endcall %}
        </h3>

        <p class="p1 mb-24">Descarga este ebook y conoce las claves de una Estrategia SEO profesional.
        </p>
      </div>

      <div class="col-xs-12 mb-64">

        <button class="btn btn-primary"> Descargalo gratis</button>
      </div>


      <div class="row text-center ">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6"> <img class="border-20 mb-64" width="100%" height="auto" src="/assets/static/images/libro.webp" alt="">
        </div>
        <div class="col-xs-3">
        </div>

      </div>
    </div>
  </div>



  <div class="container-5 text-center pbr-120">
    <div class="row mb-64">
      <div class="col-xs-12">
        <div class="fluid-5-b mb-24">
          ¿Todavia tienes dudas?
        </div>
        <div class="fluid-9-r mb-24">
          A continuación, te resolveremos algunas de las posibles preguntas que te puedan surgir antes de suscribirte a
          Generator Landing
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="accordion-wrap accordion-faqs">
          <div class="accordion">
            <div class="accordion-inner ">
              <div class="accordion-header is-flex">
                <div class="list-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>down-arrow</title>
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="none" stroke="#212121"
                      stroke-miterlimit="10">
                      <polyline points="2,7 12,17 22,7 " transform="translate(0, 0)"></polyline>
                    </g>
                  </svg>
                </div>
                <div class="fluid-8-r"> ¿Dónde coloco el código QR en el restaurante?</div>
              </div>
              <div class="accordion-content">
                <div class="text-14-r mt-16">
                  Imprime el código QR vectorizado, y haz tantas copias como necesites. Colócalo en mesas, paredes,
                  manteles de papel.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner p-16">
              <div class="accordion-header is-flex">
                <div class="list-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>down-arrow</title>
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="none" stroke="#212121"
                      stroke-miterlimit="10">
                      <polyline points="2,7 12,17 22,7 " transform="translate(0, 0)"></polyline>
                    </g>
                  </svg>
                </div>
                <div class="fluid-8-r"> ¿Es necesario instalar una App?</div>
              </div>
              <div class="accordion-content">
                <div class="text-14-r mt-16">
                  No, no queremos poner ninguna barrera a los clientes que lleguen a tu restaurante. Pensamos que es
                  importante no tener que descargar nada cuando quieran ver el menú o la carta digital del restaurante
                  rápidamente.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner p-16">
              <div class="accordion-header is-flex">
                <div class="list-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>down-arrow</title>
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="none" stroke="#212121"
                      stroke-miterlimit="10">
                      <polyline points="2,7 12,17 22,7 " transform="translate(0, 0)"></polyline>
                    </g>
                  </svg>
                </div>
                <div class="fluid-8-r"> ¿Necesito tener página web?</div>
              </div>
              <div class="accordion-content">
                <div class="text-14-r mt-16">
                  No, nuestra carta digital es independiente. No necesitas ningún tipo de web, nosotros proporcionamos
                  todo el sistema.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner p-16">
              <div class="accordion-header is-flex">
                <div class="list-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>down-arrow</title>
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="none" stroke="#212121"
                      stroke-miterlimit="10">
                      <polyline points="2,7 12,17 22,7 " transform="translate(0, 0)"></polyline>
                    </g>
                  </svg>
                </div>
                <div class="fluid-8-r">¿Cuánto cuesta este servicio?
                </div>
              </div>
              <div class="accordion-content">
                <div class="text-14-r mt-16">
                  Tu eliges, si quieres pagar cada mes por sólo 14,90€ al mes, o aprovechando la promoción , contratar
                  de forma anual por 149,90€ llevándote dos meses gratis .
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
