<header>
    <div class="container-global mx-auto  w-100">
        <div class="row  ">
            <div class="col-xs-4 is-flex">
                <a class="link logo simple" href="/">
                    <div class="  is-flex ">
                        <div class="mr-16">
                            <svg width="25" height="33" viewBox="0 0 37 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0V33H31.505L37 31.1667V18.7L33.3366 16.1333L37 12.8333V2.56667L30.4059 0H0Z" fill="black"/>
                                </svg>
                        </div>
                            
                            <div class="fluid-8-b"><span class="fluid-8-l">The</span>Boilerplate</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 text-right is-flex align-multi-center content-end">
                <div class="menu ">
                    <div class="menu-mobile">
                        <div id="menu-toggle" class=""> 
                            <div class="">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
              
                    </div>

                    
                    <ul class="list-clear   text-right is-flex  content-end menu-desktop-wrap ">
                        <li class="pr-16"> <a aria-label="link menu-link" class="menu-desktop" href="/">Boilerplate </a> </li>
                        <li class="pr-16"> <a aria-label="link menu-link" class="menu-desktop" href="/landing">landing </a> </li>
            
                                 <li class="pr-16"> <a aria-label="link  menu-link superior" class="menu-desktop" href="/landing2">Landing2 </a></li>
                                 <li class="pr-16"> <a aria-label="link  menu-link superior" class="menu-desktop" href="/landing3">Landing3 </a></li>


                                 {# <li class="pr-16"> <a aria-label="link  menu-link superior" class="menu-desktop" href="/servicios">Servicios </a></li>
                             <li class="pr-16"> <a aria-label="link  menu-link superior" class="menu-desktop" href="/about">Nosotros</a></li>
                             <li class="pr-16"> <a aria-label="link  menu-link superior" class="menu-desktop" href="/blog">Blog </a></li>
                             <li class="pr-16"> <a aria-label="link  menu-link superior" class="menu-desktop" href="/contacta">Contacta</a></li> #}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


</header>

<div class="bubble-whatsapp">
    <a  aria-label="link whatsapp" href="https://wa.me/{{global.whatsapp}}">

            <svg id="bubble-whatsapp-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800">
                <path d="M519 454c4 2 7 10-1 31-6 16-33 29-49 29-96 0-189-113-189-167 0-26 9-39 18-48 8-9 14-10 18-10h12c4 0 9 0 13 10l19
                44c5 11-9 25-15 31-3 3-6 7-2 13 25 39 41 51 81 71 6 3 10 1 13-2l19-24c5-6 9-4 13-2zM401 200c-110 0-199 90-199 199
                0 68 35 113 35 113l-20 74 76-20s42 32 108 32c110 0 199-89 199-199 0-111-89-199-199-199zm0-40c133 0 239 108 239 239
                0 132-108 239-239 239-67 0-114-29-114-29l-127 33 34-124s-32-49-32-119c0-131 108-239 239-239z"> </path>
            </svg>
   
    </a>
</div>