$breakpoints: (
  xs: 1px,
  sm: 768px,
  md: 992px,
  lg: 1280px);


$container: 992px;
$btn-radius: var(--btn-radius);
$padding-global: 16px; //no permite operaciones matematicas
$c-white: #ffffff;
$c-black: #2b2a28;
$c-primary: #2b2a28;
$c-dark-grey: #8e8e8e;
$c-middle-grey: #e3e3e3;
$c-light-grey: #f0f0f0;
$c-error: #b40016;
$c-info: #1a32a4;
$height-md: 200px;
$height-xl: 450px ;
$minheaders:/* name:mobile,768,992,1280,line-height,font */ 
  ( h1: ( 32px, 40px, 1.2, "medium", ), 
  h2: ( 24px, 32px, 1.2, "light", ), 
  h3: ( 18px, 24px, 1.2, "medium", ), 
  h4: ( 16px, 18px, 1.2, "bold", ), 
  h5: ( 16px, 16px, 1.2, "bold", ), 
  h6: ( 12px, 14px, 1.2, "medium", ), 
  h7: ( 10px, 12px, 1.2, "medium", ), 
  h8: ( 8px, 10px, 1.2, "medium", ), 
  h9: ( 12px, 18px, 1.2, "medium", ), 

  p1: ( 14px, 14px, 1.4, "regular", ),
  p1-b: ( 14px, 14px, 1.4, "bold", ),
  p2: ( 14px, 18px, 1.4, "regular", ),
  p3: ( 12px, 14px, 1.4, "regular", ),
  p4: ( 14px, 18px, 1.4, "medium", ), );


$headersFluids: (
  /*name :  fontsize, lineheight */ 12: (12px, 14px, 0.3),
  9: (14px, 18px, 1.2),
  8: (16px, 24px, 1.2),
  7: (18px, 32px, 1.2),
  6: (20px, 40px, 1.2),
  5: (30px, 48px, 1),
  4: (40px, 64px, 1),
  3: (40px, 72px, 0.9),
  2: (40px, 100px, 0.9),
  
  1: (60px, 160px, 0.8)
) ;
$font-family-a-l: "font-light", Helvetica, "Arial ", "Lucida Grande", sans-serif;
$font-family-a-r: "font-regular", Helvetica, "Arial ", "Lucida Grande",
  sans-serif;
$font-family-a-m: "font-regular", Helvetica, "Arial ", "Lucida Grande",
  sans-serif;
$font-family-a-b: "font-bold", Helvetica, "Arial ", "Lucida Grande", sans-serif;
$font-family-b-r: "font-regular", Helvetica, Arial, sans-serif;
$font-family-b-m: "font-regular", Helvetica, "Arial", sans-serif;
$font-family-b-b: "font-regular", Helvetica, "arial black", sans-serif;
$font-family-c-r: "ms-serif", serif;
$font-family-c-m: "ms-serif", serif;
$font-family-c-b: "ms-serif", serif;
$font-weight-light: inherit;
$font-weight-regular: inherit;
$font-weight-medium: inherit;
$font-weight-bold: inherit;
$font-family-form-placeholder: "font-regular";
$font-family-form: 'font-regular';



$headersFixers: ( 
  12: ( 12px, 1.2, ), 
  14: ( 14px, 1.2, ), 
  16: ( 16px, 1.2, ), 
  18: ( 18px, 1.2, ), 
  20: ( 20px, 1.2, ), 
  24: ( 24px, 1.2, ),
) ;


/** font-family: 'Playfair Display', serif; **/
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 900;
$font-family-secondary: "Playfair Display", serif;
$font-weight-secondary-light: 200;
$font-weight-secondary-regular: 400;
$font-weight-secondary-medium: 700;
$font-weight-secondary-bold: 900;


// fin massimodutti color MD 2022

$height-md: 200px;

/*Custom template */

$c-black: $c-primary;

$height-xl: 450px ;



$padding-top: (
   ptr-64: ( 64px, 64px, 64px, 64px ),
   ptr-120: ( 64px, 64px, 120px, 120px ),
   ptr-200: ( 120px, 120px, 200px, 200px )
) ;


$padding-bottom: (
   pbr-64: ( 64px, 64px, 64px, 64px ),
   pbr-120: ( 64px, 64px, 120px, 120px ),
   pbr-200: ( 120px, 120px, 200px, 200px )
) ;



